#Robot {
    width: 100%;
    height: 40%;
    text-align: center;
}

#Robot input {
    width: 15%;
    height: 150px;
    margin: 2%;
    border-radius: 5%;
    border: none;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid #AAADB1;
}

#Robot #KUKA {
    color: #F76036;
    background-color: white;
}

#Robot #FANUC {
    color: #9C1C28;
    background-color: #E4FF1A;
}

#Robot #YASKAWA {
    color: #2F6C9D;
    background-color: white;
}

#Robot #ABB {
    color: #F22B29;
    background-color: white;
}

#Robot #TM {
    color: #000;
    background-color: white;
}